<a href="https://colab.research.google.com/github/AshleyEvonne/ACT340.5.2/blob/main/ACT_340_5_2_List_Exercises_Advanced.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# List Excercises- Advanced

Complete the following practice excercises below to build up your skills with manipulating lists.

**Problem 1**



*   Using the list below, use a Class method to add the string "skirt" to the end of the list.

In [3]:
clothing= ['socks', 'pants', 'shirt', 'polo']

clothing.append("skirt")
print(clothing)

['socks', 'pants', 'shirt', 'polo', 'skirt']

**Problem 2**



*   Using the same list as above, add a list to the 2nd index that includes the following strings:
> 'suit jacket', 'suit pants', 'tie', 'button down'

In [5]:
clothing.insert(2,['suit jacket', 'suit pants', 'tie', 'button down'])
print(clothing)

['socks', 'pants', ['suit jacket', 'suit pants', 'tie', 'button down'], 'shirt', 'polo', 'skirt']

**Problem 3**



*   Use the list below and use a Class method to get the total number of times the integer 14 appears in the list.

In [6]:
nums= [2, 150, 14, 36, 78, 81, 14, 1000, 54, 14, 14]
print(nums.count(14))

4

**Problem 4**


*  Use the same list as above
*  Use a built-in function to find the total of all the numbers in the list.

In [7]:
print(sum(nums))

1457

**Problem 5**



*   Use the same list as above
*   Slice the list so that it is reversed without using the .reverse() method

In [17]:
newNum = nums[::-1]
print(newNum)

[14, 14, 54, 1000, 14, 81, 78, 36, 14, 150, 2]

**Problem 6**



*   Use the list below.
*   Slice the list so only the last two elements are included in the slice.

In [18]:
one_to_five= [1, 2, 3, 4, 5]
print(one_to_five[-2:])

[4, 5]

**Problem 7**

*   Use the list below
*   Write a for loop so that every item in the list is printed

In [21]:
animals= ["koala", "cat", "fox", "panda", "chipmunk", "sloth"]

for animal in animals:
  print(animal)

koala
cat
fox
panda
chipmunk
sloth

**Problem 8**



* Use the list below
* Create a function that accepts a list as an argument
*   Check if the data type at each index is a list
*   If it is a list, check the length of the list. If it is greater than 3, add the second element to a new list.
*   Return the new list

In [28]:
random_things= ['hello', ['breakfast', 'you', 'pencil', 2], 22, ['burrito', 'taco'],
                [22, 'win', 33, [5], 'laptop']]

def extract_second_elements(nested_list: list):
    result = []

    for item in nested_list:
        if isinstance(item, list) and len(item) > 3:
            result.append(item[1])

    return result

second_elements = extract_second_elements(random_things)
print(second_elements)

['you', 'win']

**Problem 9**



*   Use the list below
*   Create a new list
*   Use a for loop and the append() method to append each item with a Dr. prefix to the new list.

In [ ]:
names= ['Dre', 'Seuss', 'Who', 'McCoy']
Doctors = []
for name in names:
  Doctors.append("Dr."+name)
print(Doctors)

**Problem 10**



*   Use the list below
*   Use a while loop, iterate through the list and if there is an integer 100, print a message that says what index the 100 is at
*   Example: "There is a 100 at index no: 5"

In [ ]:
num2= [10, 99, 85, 76, 43, 2, 77, 100, 13, 12, 42, 99, -1, -100]

**Problem 11**




*   Use the list below
*   Create a new list
*   Use a for loop or a whole loop to iterate through the list and append all the elements in the old list, to the new list UNLESS the element is an empty string

In [ ]:
list1= ["McDonald's", "Wendy's", "", "Burger King", "", "Taco Bell"]
new_list = []
for i in list1:
  if i:
    new_list.append(i)
print(new_list)

In [ ]:

my_list = [1, 2, 3]
another_list = [4, 5, 6]
my_list.append(another_list)
print(my_list)  # Output: [1, 2, 3, [4, 5, 6]]

my_list = [1, 2, 3]
another_list = [4, 5, 6]
my_list.extend(another_list)
  # Output: [1, 2, 3, 4, 5, 6]
another_list.append(7)
print(my_list,another_list)